.left-sidebar {
  max-width: 192px;

  .user__name {
    color: $nero;
    font-weight: normal;
  }
}

.left-sidebar__user {
  margin-bottom: 13px;
}

.left-sidebar__shortcuts {
  margin-bottom: 13px;
}
