.post {
  @include post;
  padding: 16px;
  padding-bottom: 8px;

  .user {
    align-items: start;
  }

  .user__name {
    @include link;
  }

  .user__photo {
    width: 48px;
    margin-right: 12px;
  }

  .user__info {
    min-width: 150px;
    display: flex;
    flex-direction: column;
  }

  .user__set {
    max-width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user__span {
    color: $suva-grey;
    display: flex;
    align-items: center;

    &::after {
      @include dot;
      margin-left: 9px;
    }
  }

  .user__icon {
    fill: $suva-grey;
    align-self: flex-end;
    cursor: pointer;
  }
}

.post__user {
  margin-bottom: 16px;
}

.post__content {
  margin-bottom: 16px;
}

.post__text {
  color: $zambezi;
  margin-bottom: 16px;
}

.post__link {
  color: $navy-blue;
}

.post__likes {
  max-width: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  justify-content: space-between;
}

.post__likes-counter {
  color: $suva-grey;
}

.post__likes-icon {
  fill: $dodger-blue;
  margin: auto;
}

.post__likes-btn {
  width: 30px;
  height: 16px;
  background-color: transparent;
  cursor: pointer;
}

.post-footer__btn {
  background-color: transparent;
  cursor: pointer;
}
