.search {
  width: 366px;
}

.search__input {
  width: 100%;
  border-radius: 4px;
  border: solid 1px $gainsboro;
  padding: 5px 25px 5px 12px;
  background: $white url("../img/icon-search.svg") no-repeat;
  background-position: right 12px center;
}
