.stories {
  @include post;
  padding: 16px 24px;
}

.stories__header {
  display: flex;
  align-items: center;
}

.stories__title {
  @include nav-title;
  margin: 0;
  margin-right: auto;
}

.stories__link {
  color: $cobalt;
  display: flex;
  align-items: center;
}

.stories__link:not(:last-child) {
  margin-right: 13px;

  &::after {
    @include dot;
    margin-left: 15px;
  }
}

.stories__icon {
  fill: $cobalt;
  margin-right: 5px;
}
