.user-list {
  display: flex;
  align-items: center;
}

.user-list__item {
  margin-right: 12px;
  display: flex;
  align-items: center;

  &:last-child{
   left: 17px;
  }

  &:last-child::before {
    content: "";
    width: 1px;
    height: 16px;
    background-color: $smalt;
    margin-right: 11px;
  }
}

.user-list__item-icon {
  fill: $sapphire;

  &:hover {
    fill: $white;
  }
}

.user-list__item--active .user-list__item-icon  {
  fill: $white;
}
