@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("../fonts/FontsFree-Net-SFProDisplay-Regular.woff") format("woff"),
       url("../fonts/FontsFree-Net-SFProDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
