$cobalt: #0050b3;
$gainsboro: #d9d9d9;
$white: #ffffff;
$smalt: #003a8c;
$sapphire: #002766;
$whisper: #e5e5e5;
$whisper-8: #e8e8e8;
$nero: #262626;
$zambezi: #595959;
$dodger-blue: #1890ff;
$suva-grey: #8c8c8c;
$navy-blue: #096dd9;


$desktop-width: 1200px;
